<div class="container my-2">
    <div class="row d-flex justify-content-around">
        <div class="col-md-3 card bg-success-subtle" (click)="onclickMenuItems()">
            <div class="card-body">
                <p class="card-text">
                    Menu Items
                </p>
            </div>
        </div>
        <div class="col-md-3 card bg-success-subtle">
            <div class="card-body">
                <p class="card-text">
                    Orders
                </p>
            </div>
        </div>
        <div class="col-md-3 card bg-success-subtle">
            <div class="card-body">
                <p class="card-text">
                    Sample
                </p>
            </div>
        </div>
    </div>
</div>