<div class="container-fluid">
    <div class="row">
      <table class="table table-borderless table-hover">
        <thead class="table-warning">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Category</th>
            <th class="d-flex justify-content-around">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of MenuItems; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.category }}</td>
            <td class="d-flex justify-content-around">
              <i
                class="bi bi-pencil-square text-primary"
                (click)="onUpdate(item)"
                data-bs-toggle="modal"
                data-bs-target="#menuModal"
              ></i>
              <i
                class="bi bi-trash text-danger"
                (click)="onDelete(item.menuItemId)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- 
<app-cust-modal [openModal]="openModal" (closeEvent)="openModal = false">
    <app-item-form ></app-item-form>
</app-cust-modal> -->
