<div class="container-fluid">
    <!-- <div class="d-flex justify-content-end">
      <button class="btn btn-warning m-1" (click)="onAddMoreItems()">
        Add More Items
      </button>    
      <button class="btn btn-success m-1" (click)="onConfirmOrder()">
        Confirm Order
      </button>
    </div> -->
    <div class="row">
      <table class="table table-borderless table-light">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items.values()">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td [ngClass]="getStatusClass(item.itemStatus)">{{item.itemStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  