<div class="container-fluid">
  <div class="d-flex justify-content-end">
    <button class="btn btn-warning m-1" (click)="onAddMoreItems()">
      Add More Items
    </button>    
    <button class="btn btn-success m-1" (click)="onConfirmOrder()">
      Confirm Order
    </button>
  </div>
  <div class="row">
    <table class="table table-borderless table-light">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.orderItemsDto">
          <td>{{ item.menuItemDto.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            {{ item.quantity }} &#8277; {{ item.menuItemDto.price }} = &#8377;
            {{ item.quantity * item.menuItemDto.price }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>GST &#64; 7%</td>
          <td>&#8377; {{ getGST() }}</td>
        </tr>
        <tr>
          <td></td>
          <td class="text-primary fw-bold">Grand Total</td>
          <td class="text-primary fw-bold">&#8377; {{ getGrandTotal() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
