<div class="container">
    <div class="d-flex justify-content-end m-2">
        <div *ngIf="getTotalAmount()" class="m-1">
            Total Bill : &#8377; {{getTotalAmount()}} 
        </div>
        <button class="btn btn-success m-1" (click)="onPlaceOrder()" [disabled]="!getTotalAmount()">Place Order</button>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="card-deck">
            <div *ngFor="let category of categories; let i = index" class="card bg-success-subtle my-2" >
                <app-card
                    [category]="category"
                ></app-card>
            </div>
        </div>
    </div>
</div>