<div class="container my-2">
  <div class="d-flex justify-content-between">
    <p class="fw-bold">Order Id : {{ order.orderId }}</p>
    <p class="text-success fw-bold">Mobile : {{ order.userDto.mobile }}</p>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.orderItemsDto; let i = index">
        <td>{{ item.menuItemDto.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          {{ item.quantity }} &#8277; {{ item.menuItemDto.price }} = &#8377;
          {{ item.quantity * item.menuItemDto.price }}
        </td>
        <td class="text-center">
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              [name]="'btnradio-' + i"
              [id]="i + '-1'"
              autocomplete="off"
              checked
              (click)="onOrderStausChange('YET_TO_PREPARE', i)"
            />
            <label class="btn btn-outline-danger" [for]="i + '-1'"
              >Yet to prepare</label
            >

            <input
              type="radio"
              class="btn-check btn-warning"
              [name]="'btnradio-' + i"
              [id]="i + '-2'"
              autocomplete="off"
              (click)="onOrderStausChange('PREPARING', i)"
            />
            <label class="btn btn-outline-warning" [for]="i + '-2'"
              >Preparing</label
            >

            <input
              type="radio"
              class="btn-check"
              [name]="'btnradio-' + i"
              [id]="i + '-3'"
              autocomplete="off"
              (click)="onOrderStausChange('SERVED', i)"
            />
            <label class="btn btn-outline-success" [for]="i + '-3'"
              >Served</label
            >
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>GST &#64; 7%</td>
        <td>&#8377;{{ (order.totalAmount * 0.07).toFixed(2) }}</td>
      </tr>
      <tr>
        <td></td>
        <td class="text-primary fw-bold">Grand Total</td>
        <td class="text-primary fw-bold">
          &#8377;{{ (order.totalAmount * 1.07).toFixed(2) }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger" (click)="onClose()">Close</button>
  </div>
</div>
